
<div class="container" style="padding-top: 20px">
	<div class="row gutters">
		<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
			<div class="card h-60">
				<div class="card-body">

					<div class="account-settings">
						<div class="user-profile">
							<div class="user-avatar">
								<img ng-src="{{'/img/user/' +form.images}}" width="215"
									height="230px" style="border-radius: 5px"> <br>

							</div>


						</div>

						<div class="about">
							<h5></h5>
							<div class="input-group form-group">
								<div class="custom-file">
									<input type="file"
										onchange="angular.element(this).scope().imageChanged(this.files)"
										class="custom-file-input" id="images"
										aria-describedby="inputGroupFileAddon01"> <label
										class="custom-file-label" for="inputGroupFile01">Choose
										file</label>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
			<div class="card h-100">
				<div class="card-body">
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<h6 class="mb-2 text-primary">THÊM TÀI KHOẢN</h6>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="fullName">Username</label> <input type="text"
									ng-model="form.username"  class="form-control" id=""
									placeholder="Nhập tên tài khoản đăng nhập">
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="fullName">Mật khẩu</label> <input type="password"
									ng-model="form.password" class="form-control" id=""
									placeholder="Nhập mật khẩu đăng nhập lần đầu">
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="">Gmail</label> <input type="email"
									ng-model="form.email" class="form-control" id=""
									placeholder="Nhập Gmail">
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="">Số điện thoại</label> <input type="text"
									ng-model="form.sdt" class="form-control" id=""
									placeholder="Nhập số điện thoại">
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="">Họ và tên:</label> <input type="text"
									ng-model="form.name" class="form-control" id=""
									placeholder="Nhập họ và tên">
							</div>
						</div>
					</div>
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<h6 class="mt-3 mb-2 text-primary">Địa chỉ</h6>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="Street">Thông tin nơi ở</label>
								<textarea ng-model="form.address" class="form-control" rows="3"
									cols="5"></textarea>
							</div>
						</div>

					</div>
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="text-right">
								<button onclick="showSwal('themproduct')"  type="button" ng-click="create()"
									class="btn btn-success">
									<i class="bi bi-person-plus"></i> Thêm
								</button>
								<button onclick="showSwal('capnhatproduct')"  type="button" ng-click="update()"
									class="btn btn-primary">
									<i class="bi bi-pencil"></i> Sửa
								</button>
								<button onclick="showSwal('deleteproduct')" type="button" ng-click="delete(form)"
									class="btn btn-danger">
									<i class="bi bi-person-dash"></i> Xóa
								</button>
								<button type="button" ng-click="reset()"
									class="btn btn-secondary">
									<i class="bi bi-arrow-clockwise"></i> Reset
								</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>