
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column"
	style="padding-top: 20px">
	<!-- Main Content -->
	<div id="content">

		<!-- Topbar -->
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container-fluid">
			<div class="container">
				<div class="row flex-lg-nowrap">
					<div class="col">
						<div class="row flex-lg-nowrap">
							<div class="col mb-3">
								<div class="e-panel card">
									<div class="card-body">
										<div class="card-title">
											<h6 class="mr-2">
												<span>Danh sách tài khoản</span>
											</h6>
										</div>
										<div class="e-table" ng-if="items">
											<div class="table-responsive table-lg mt-3">
												<table class="table table-bordered">
													<thead>

														<tr>
															<th>Hình ảnh</th>
															<th class="sortable">Username</th>
															<th class="max-width">Họ và tên</th>
															<th>Số điện thoại</th>
															<th>Action</th>
														</tr>

													</thead>
													<tbody>
														<tr ng-repeat="item in pager.items">

															<td><img src="../../img/user/{{item.images}}"
																style="width: 80px;"></td>
															<td class="text-nowrap align-middle"><span>{{item.username}}</span></td>
															<td class="text-center align-middle">{{item.name}}</td>
															<td class="text-center align-middle">{{item.sdt}}</td>

															<td class="text-center align-middle">
																<div class="btn-group align-top">

																	<button ng-click="edit(item)"
																		class="btn btn-sm btn-outline-secondary badge">Edit</button>
																	<button ng-click="delete(item)"
																		class="btn btn-sm btn-outline-secondary badge">
																		<i class="fa fa-trash"></i>
																	</button>
																</div>
															</td>
														</tr>

													</tbody>
												</table>
											</div>
											<div class="d-flex justify-content-center">
												<ul class="pagination mt-3 mb-0">

													<li class=" page-item">
														<button ng-click="pager.first()" class="page-link"><<</button>
													</li>

													<li class=" page-item">
														<button ng-click="pager.prev()" class="page-link"><</button>
													</li>

													<li class="page-item">
														<button href="#" class="page-link">{{pager.page +
															1}} of{{pager.count}}</button>
													</li>

													<li class="page-item">
														<button ng-click="pager.next()" class="page-link">></button>
													</li>

													<li class="page-item">
														<button ng-click="pager.last()" class="page-link">>></button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
	class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready
				to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login.html">Logout</a>
			</div>
		</div>
	</div>
</div>

