<div  class="wrapper" style="padding-top: 20px">
	<div id="content-page" class="content-page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="iq-card">
						<div class="iq-card-header d-flex justify-content-between">
							<div class="iq-header-title">
								<h4 class="card-title">
									<strong>Thêm sản phẩm</strong>
								</h4>
							</div>
						</div>
						<div class="iq-card-body">
							<div class="row">

								<div class="col-sm-12">

									<form>
										<div class="form-group">
											<div class="row">
												<div class="col-3">
													<img alt="" ng-src="{{'/img/products/' +form.images}}"
														class="img-thumbnail" width="250px">

												</div>
												<div class="col-9">
													<div class="form-group">
														<label>Tên sản phẩm:</label> <input ng-model="form.name"
															type="text" class="form-control">
													</div>
													<div class="form-group">
														<label>Loại sản phẩm:</label> <select
															ng-model="form.category.id" class="form-control">
															<option selected="" disabled="">Chọn loại</option>
															<option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
														</select>
													</div>

													<div class="input-group form-group">
														<div class="custom-file">
															<input type="file"
																onchange="angular.element(this).scope().imageChanged(this.files)"
																class="custom-file-input" id="images"
																aria-describedby="inputGroupFileAddon01"> <label
																class="custom-file-label" for="inputGroupFile01">Choose
																file</label>
														</div>
													</div>
												</div>
											</div>
										</div>





										<div class="form-group">
											<label>Ngày :</label> <input ng-model="form.date" type="date"
												class="form-control">
										</div>
										<div class="form-group">
											<label>Giá :</label> <input ng-model="form.price" type="text"
												class="form-control">
										</div>
										<div class="form-group">
											<label>Số lượng :</label> <input ng-model="form.quantity"
												type="number" class="form-control">
										</div>
										<div class="form-group">
											<label>Nội dung:</label>
											<textarea ng-model="form.information" class="form-control"
												rows="4"></textarea>
										</div>

										<button onclick="showSwal('themproduct')" ng-click="create()" class="btn btn-primary">Thêm</button>
										<button onclick="showSwal('capnhatproduct')" ng-click="update()" class="btn btn-danger">Cập
											nhật</button>
										<button ng-click="reset()" class="btn btn-danger">Trở
											lại</button>

									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>